/*(THESE ELEMENTS SHOULD NEVER NEED TO CHANGE) */
/* !!!! DO NOT CHANGE THE CSS ELEMENTS BELOW !!!! */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0; padding:0; border:0; outline:0; vertical-align:baseline;}
ol,ul{list-style:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
.hide {display:none;}
.container_16{margin-left:auto;margin-right:auto;width:954px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px;border:0;}
.container_16 .grid_4{width:216px}
.container_16 .grid_8{width:456px}
.container_16 .grid_12{width:700px;text-align:left;}
.container_16 .grid_12-2{width:936px;text-align:left;}
.container_16 .grid_16{width:936px;text-align:left;}
.alpha{margin-left:0}
.container_16 .grid_1{width:40px}
.container_16 .grid_2{width:100px}
.container_16 .grid_3{width:160px}
.container_16 .grid_5{width:280px}
.container_16 .grid_6{width:340px}
.container_16 .grid_7{width:400px}
.container_16 .grid_9{width:520px}
.container_16 .grid_10{width:580px}
.container_16 .grid_11{width:640px}
.container_16 .grid_13{width:760px}
.container_16 .grid_14{width:820px}
.container_16 .grid_15{width:880px}
.clear{ clear:both }
/* !!!! DO NOT CHANGE THE CSS ELEMENTS ABOVE !!!! */
/* CUSTOM WEBSITE ELEMENTS */
/* THESE ELEMENTS CAN BE CHANGED FROM SITE-TO-SITE */
tr,th,td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:top;}
.topLftRtCurve,
#topLftRtCurve { border-top-left-radius:7px; border-top-right-radius:7px }
.baseLftRtCurve,
#baseLftRtCurve {border-bottom-left-radius:7px;-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px;border-bottom-right-radius:7px;-moz-border-radius-bottomright:7px;-webkit-border-bottom-right-radius:7px;}
.linethru,#linethru {text-decoration:line-through;}
.bold,#bold {font-weight:bold}
.floatLt,#floatLt {float:left;}
.floatRt,#floatRt {float:right;}
.qty,#qty {display:inline;color:#ff5300; font:bold 16px Georgia,serif;}
.breadcrumbs, #breadcrumbs {background:transparent; font-size:11px}
/* TEXT */
a:focus{outline:1px dotted}
a:link, a:visited {color:#003399; text-decoration:none;}
a:active, a:hover {color:#cc0000; text-decoration:none;}
hr{border:0;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:disc}
/*li{margin-left:30px}*/
p,dl,hr,h1,h2,h3,h4,h6,ol,ul,pre,table,address,fieldset{margin-bottom:0}
.tan,#tan {background:#F7F5EF/*F3F0E7 f8f8ee*/;}
.grayText,#grayText {color:#8c8c8c;}
.smallText,#smallText {font-size:10px;}
.linethru,#linethru {text-decoration:line-through;}
.spacer {background-color: #cc0000;height: 1em;}
.spacerTrans {background: transparent;height: 1.75em;}
.spacerTrans2 {background: transparent;height: 1em;}
#wide210 {width:208px;margin-right:6px;}
#middleContainer {padding-top:15px;background-image:linear-gradient(#CFCFCC 0, #E7E7DF 2px, #fff 17px);}
/* CALLOUT BACKGROUNDS */
.stripeOuter,#stripeOuter {background:repeating-linear-gradient(135deg, #fff, #f3f3f3 1.2px, #f3f3f3 1.6px, #fff 2.8px); margin-bottom:14px; padding: 6px; border:1px solid #e8e8e8; border-radius:7px }
.stripeInner {clear:left;background-color:#fff;border:1px solid #e8e8e8; text-align:left;-webkit-border-radius:5px;-moz-border-radius:5px;overflow:hidden;}
.moduleInner {clear:left;background-color:#fff;border:1px solid #e8e8e8; text-align:left; margin:0;padding:0;}
.innerShadow {text-indent:0; margin:0;padding:0; }
.stripeInnerResults {background-color:#fff;border:1px solid #e8e8e8; border-radius:5px;}
.stripeInnerResults div { width:100%; margin:0; padding:0; border-bottom:1px solid #eee;}
.stripeInnerResults h4 { width:auto; margin:0; padding:10px 0 0 3px; font-size:13px; line-height:8px; color:#555;border:0;}
.stripeInnerResults a { display:block; margin:0; padding:0; width:auto;height:auto;line-height:12px;border:1px solid red;}
.stripeInnerResults a:hover,
.stripeInnerResults a:active {background:#E3E3E3; text-decoration:none; color:#2c5987;}   /*#d9eefa*/
.stripeInnerResults span {color:#808080;}
/* CALLOUTS & PROMO CONTAINERS */
.calloutNoTail2 {border:0; text-align:left;margin:0 auto 12px; width:95%;}
.calloutNoTail2 a {display:block; margin:7px 0 7px 11px; line-height:15px; border:0;color:#000000}
.calloutNoTail2 a:hover {color:#be0402}
.calloutNoTail h3 {border:0; width:100%; height: 21px; background: #880000 url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png') repeat-x 0 -600px;color: #fff;font: bold 13px Georgia,Verdana,helvetica,sans-serif; text-shadow: 1px 1px 0pt rgba(0, 0, 0, 0.7);text-transform:uppercase;position: relative;margin: 0 0 14px 0;padding: 4px 0 0 10px;border-radius:7px;box-shadow:2px 2px 6px rgba(0,0,0,0.6);-moz-border-radius:7px;-webkit-border-radius:7px;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6);}
.calloutNoTail2 h3 {
border:0;
width:100%; 
/* IE */
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#be0402', EndColorStr='#960000', GradientType=0);
background-image: -ms-linear-gradient(top, #be0402 0%, #960000 100%);
/* Mozila */
background: -moz-linear-gradient(top, #be0402, #960000);
/* Chrome, Safari: */
background: -webkit-gradient(linear, left top, left bottom, from(#be0402), to(#960000));
color: #fff;
font: bold 13px Georgia,Verdana,helvetica,sans-serif; 
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.99);
text-transform:uppercase;
position: relative;margin: 0 0 14px 0;
padding: 4px 10px;
border-radius:7px;
box-shadow:2px 2px 6px rgba(0,0,0,0.6);}
.calloutNoTail2 h3 span { display: none }
.calloutNoTail h3 span {margin:3px 0 0 15px; padding:0; border: 0; display:block; width: 17px; height: 10px; background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png) no-repeat scroll -39px -265px !important; overflow:hidden; text-indent:-3000px;}
.calloutNoTail2 h4 {font-size:11px; font-weight:bold; text-transform:uppercase; margin:0;}
.calloutNoTail2 h4,
.calloutNoTail2 h4 a {margin:0 0 7px 5px;}
.callout2 {margin-bottom:12px; text-align:left;}
.callout h3 {width:100%; height:16px;background: #880000 url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png') repeat-x 0 -600px; color: #fff;font: bold 13px Georgia,Verdana,helvetica,sans-serif; text-shadow: 1px 1px 0pt rgba(0, 0, 0, 0.7);text-transform:uppercase;text-indent: 0;float: left; position: relative; left: 0; margin: 0 0 14px -15px;padding: 5px 5px 5px 10px; border-top-right-radius:7px;border-bottom-right-radius:7px; -moz-border-radius-topright:7px;-moz-border-radius-bottomright:7px; -webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px; border-bottom-left-radius:7px;box-shadow:2px 2px 6px rgba(0,0,0,0.6);-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px; -webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6);}
.callout2 h3 {
/* IE */
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#be0402', EndColorStr='#960000', GradientType=0);
background-image: -ms-linear-gradient(top, #be0402 0%, #960000 100%);
/* Mozila */
background: -moz-linear-gradient(top, #be0402, #960000);
/* Chrome, Safari: */
background: -webkit-gradient(linear, left top, left bottom, from(#be0402), to(#960000));
color: #fff; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.99); text-transform:uppercase; float: left; position: relative;
font: bold 13px Georgia,Verdana,helvetica,sans-serif; margin: 5px 0 15px -12px;padding: 5px 5px 5px 10px;
border-top-right-radius:7px; border-bottom-right-radius:7px; -moz-border-radius-topright:7px;-moz-border-radius-bottomright:7px; -webkit-border-top-right-radius:7px;-webkit-border-bottom-right-radius:7px; border-bottom-left-radius:7px; box-shadow:2px 2px 6px rgba(0,0,0,0.6);-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px; -webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.6);}
.callout h3 span,
.callout2 h3 span,
.calloutThick h3 span {border: 0; background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png') no-repeat -245px 0; overflow: hidden;text-indent: -3000px;width: 6px;height: 4px;position: absolute;top: -4px;left: 0;}
.callout h3 .hdrDwnArw {float:left; margin:3px 0 0 20px; padding:0; border: 0;display:block; width: 17px; height: 10px;background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/globalsprite-demo1.png) no-repeat scroll -39px -265px !important;overflow:hidden; text-indent:-3000px;}
.callout2 h3 .hdrDwnArw {float:left; margin:3px 0 0 20px; padding:0; border: 0;display:block; width: 17px; height: 10px;background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/globalsprite-demo1.png) no-repeat scroll -39px -265px !important;overflow:hidden; text-indent:-3000px;}
.callout2 a {color:#000000}
.callout2 a:hover {color:#be0402}
.autoSize,
.callout h3.autoSize {width:auto;padding-right:15px}
.callout2 h3.autoSize {width:auto;padding-right:15px}
.viewall {border:0;margin:0;padding:0;margin-top:-5px;float:right; font-size:10px; font-weight:bold; text-transform:uppercase;}
.viewall a {text-align:right; padding:4px 5px 4px 5px; border:1px solid transparent;}
/* MID-PAGE PROMO CONTAINERS */
/* RESULTS PAGES */
#resultsHeading {background:transparent;}
#resultsHeading h2 {font:bold 31px Georgia,serif;}
#resultsHeading h2 span {border:0; margin-left:25px; color:#000; font: italic 21px Georgia}
#resultsHeading h2 span span {color:red;margin:0;}
#youSelected {width:100%; height:38px;margin: 0 0 15px 0;padding: 0;text-transform:uppercase;background:#fafafa;border:1px solid #cccccc;border-radius:7px;-moz-border-radius:7px; -webkit-border-radius:7px;}
#youSelected span#youSelectedLabel {float:left; margin:0 auto;padding: 12px 20px 10px 20px;background:#bcbcbc; color:white;font:bold 13px Georgia,Verdana,Arial,serif;text-shadow: 1px 1px 0pt rgba(0, 0, 0, 0.7);border:0;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
#youSelected span#youSelectedItem {float:left; width:70%; padding: 13px 0 13px 20px;font:bold 10px Verdana,Arial,serif;}
#youSelected span#youSelectedItem a {color:#000000;}
#youSelected span#youSelectedItem a:hover {color:#be0402;}
#youSelected span#youSelectedItem span {float:center; background: red; color:#fff; width:15px; height:15px; margin:0 0 0 3px; padding:1px 3px 2px 3px;border-radius:10px;-moz-border-radius:10px; -webkit-border-radius:10px;}
#graySortPagBar {margin:0;padding: 8px 5px 7px 10px;text-transform:uppercase; font:bold 10px Verdana,Arial,serif; background:#efefef;border:1px solid #cccccc;}
#graySortPagBar a {color: #000000;}
#graySortPagBar a:hover {color: #be0402;}
#pagLinx {border:0;float:right;margin-top:-3px}
#resultsContainer {background:transparent;margin:0;padding-top:0;padding-right:0;border-left:1px solid #cccccc;border-right:1px solid #cccccc;}
#resultsProduct {border:1px solid transparent; display:block;height:190px; width:153px; text-align:center;font:normal 11px Verdana;line-height:14px;margin:0 7px 7px 12px;padding:0;}
#resultsProduct:hover,
#resultsProduct:active {border:1px solid #cccccc;} 
#resultsProduct img {clear:left; padding-top:15px;border:0;}    
#resultsProduct.grid4 {width:176px;margin-right:9px;}
/* left rail facets on Results pages */
.productFacets{min-height:5em;}
.priceFacets{min-height:5em;}
/* PRODUCT DETAILS */
/****** PRODUCT ******/
.productHdr {font:bold 13px Verdana,Arial,sans-serif;margin:7px 0 7px 10px; padding:0;text-transform:uppercase; }
.productThumbs {border:0; margin:-10px 0 10px 10px;padding:5px 10px 0 0; width:265px;height:120px;overflow:auto;white-space:nowrap;float:left;display:inline;}
.productThumbs a {width:100px; height:100px auto; margin:0; padding:0;}
.productThumbs img { border:1px solid #cccccc;vertical-align:middle;}
.product {width:auto; color:#000; font:normal 10px Verdana,Arial,sans; float:right; border:0;margin-top:10px; padding:3px 8px 3px 8px;}
.product div.saleprice {color:#be0402; font-size:18px; font-weight:bold; float:right; border:0;margin-top:-5px;padding:3px 8px;}
.product div.saleprice span {color:black;}
.productInfo {width:650px;float:right;margin:15px 0 0 0;padding:15px;color:#000;font:normal 10px Verdana,Arial,sans;line-height:15px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.productInfo h3 {font-size:10px;text-transform:uppercase;font-weight:bold;margin-bottom:10px;}
.productInfo ul{list-style:disc; margin-top:5px; padding:1px;} 
.productInfo ul li:last-child{margin: 0 0 20px 30px;} 
.productInfo li{margin-left:30px;}
.sizeChart {border:1px solid black; color:black; clear:both;background-position:0 -114px;display:block;font-family:Tahoma,Geneva,sans-serif;height:15px;float:left;margin: 0 0 0 15px;padding: 0;width: auto;}
.sizeChart a {color:#000000;} 
.sizeChart a:hover {color:#be0402;}
.partsFeat {border:0;background:transparent;margin:0 0 0 4px;margin-top:4px; padding:0;float:left;display:block;position:relative;width:214px; height:auto;line-height:10px;font-size:11px;}
.partsFeat a,.partsFeat img,.partsFeat img a {margin:0;padding:0 4px 0 0;border:0;float:left;vertical-align:middle;width:97px;}
.partsFeat span {display:block; text-decoration:none; border:0; width:105px; float:right;vertical-align:middle; padding-top:10px;margin-bottom:-7px;}
.partsFeat .brandName {font-weight:bold;margin-top:-5px} 
.partsFeat .partType,
.partsFeat .partType a {font-weight:normal;font-size:10px;}
#helpBox, .helpBox,
#helpBox a, .helpBox a,
#helpBox h2, .helpBox h2,
#helpBox div, .helpBox div {margin:0;padding:8px 0;text-align:center;color:#006699;font-family:Georgia, serif;background-color:transparent;}
#helpBox h2, .helpBox h2 {font:bold 35px Georgia, serif; line-height:30px}
#helpBox hr, .helpBox hr {border-top: 1px dashed #cccccc; width:95%; height:1px; text-align:center;}
#itemGroup, .itemGroup {display:block; width:680;height:auto;margin:10px 10px 25px 10px;padding:0;border:0;}
#itemTbl,.itemTbl {display:block;float:left;width:680px;height:auto;margin:5px 0 0 0;padding:0;font:normal 10px Verdana,Helvetica,Arial,Sans-Serif;color:#8c8c8c;text-transform:uppercase;border-bottom:1px solid #cccccc;}
#itemTbl90,.itemTbl90 {float:left;width:190px;margin:0;padding:0;border:0;}
#itemTbl185,.itemTbl185 {float:right;width:185px;margin:0;padding:0;text-align:right;}
#itemTbl282,.itemTbl282 {float:left;margin:0;padding:0;width:290px;border:0;}
#itemSelection,.itemSelection {display:block;float:left;margin:0 0;padding:5px 0 5px 0;width:680px;height:auto;font:normal 11px Verdana,Helvetica,Arial,Sans-Serif;border-bottom:1px dotted #cccccc;}
#itemSelection:hover,.itemSelection:hover {display:block;background:#efefef;cursor: default;}
#itemSelection form,.itemSelection form,
#itemSelection select, .itemSelection select {float:left;margin:2px 0 0 20px;padding:0; width: 40px; height:20px;font-size:12px;text-align:center;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#itemSelection input, .itemSelection input {
background-image: -ms-linear-gradient(top, #be0402 0%, #960000 100%);
background: -moz-linear-gradient(top, #be0402 , #960000);
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#be0402', EndColorStr='#960000', GradientType=0);
background: -webkit-gradient(linear, left top, left bottom, from(#be0402), to(#960000));
-moz-border-radius:7px;
-moz-border-radius:7px;
border-radius:7px;
font-family: Tahoma,Geneva,sans-serif;
color: #fff;
font-weight: bold;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.99);
border-top-color: #EEEEEE;
border-bottom-color: #EEEEEE;
border-right-color: #EEEEEE;
margin-top: 1px;
cursor: pointer;
}
#secureShop {margin:0; padding:10px; font: normal 11px Verdana,Arial,sans-serif; background: #f3ecd7; }
#secureShop span {border:0;float:left; background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png') no-repeat top left;margin:5px 0 0 0; padding:10px 10px 10px 0; width:28px; height:15px;}
#secureShop p {font: normal 11px Verdana,Arial,sans-serif; margin:2px 0;}
/* BUTTONS */
.button, .button:visited {background: #222;display: inline-block;top: 4px;padding: 3px 5px 3px 5px;font-family:Tahoma,Geneva,sans-serif;color: #fff;text-decoration: none;text-transform:uppercase; box-shadow: 0 1px 3px rgba(0,0,0,0.6);-moz-border-radius: 5px;-webkit-border-radius: 5px;-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);text-shadow: 0 -1px 1px rgba(0,0,0,0.25);    border-bottom: 1px solid rgba(0,0,0,0.25);position: relative;cursor: pointer;width:auto;}
.small.button, .small.button:visited {font-size: 11px; background-color: #be0402;color:#fff;font-weight:bold;}
.small.button:hovered, .small.button:active {text-decoration: underline;}
.medium.button, .medium.button:visited {font-size: 13px;font-weight: normal;line-height: 1;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);background-color: #be0402; color:#fff;font-weight:bold;}
.medium.button:hover, .medium.button:active {text-decoration: underline;}
.orange.button, .orange.button a, .orange.button:visited {background-color: #ff5c00; color:#fff;font-weight:bold;}
.orange.button a:hover, .orange.button:hover  {background-color: #d45500; color:#fff;}
.grayPagination.button,.grayPagination.button:visited {color:#2c5987; font:bold 9px Verdana,Arial,sans; text-align:center;display:inline-block;width:auto;height:auto;text-transform:uppercase; background:#efefef url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1.png') repeat-x 0 -497px; border:1px solid #cccccc;margin: 0 6px; padding:3px 8px; margin-top:-5px;vertical-align:middle;text-shadow: 0 0 0 rgba(0,0,0,0);box-shadow: 0 0 0 rgba(0,0,0,0); -moz-box-shadow: 0 0 0 rgba(0,0,0,0); -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);}
.grayPagination.button:hover,.grayPagination.button span:hover {background:#fff;text-decoration:none;}
.grayPagination.button:active,.grayPagination.button span:active {color:#cc0000;}
.grayPagination a {color:#000000;}
.grayPagination a:hover {color:#be0402;}
.paginationTxt a {color:#000000;}
.paginationTxt a:hover {color:#be0402;}
.paginationTxt {border:0;float:right;margin-top:1px; font:normal 11px Tahoma,Geneva,Verdana,sans-serif;}
.paginationTxt a,.paginationTxt a:visited {text-decoration:underline;display:inline-block;width:15px;height:15px;text-align:center;border:1px solid transparent;}
.paginationTxt a:hover,.paginationTxt a:active {text-decoration:none;background:#fff;border:1px solid #cccccc;}
.paginationTxt span {font-weight:bold;color:#000;text-decoration:none; /*indicates current page...always appears in middle of pagination bar*/margin:0;display:inline-block;width:15px;height:15px;text-align:center;background:#fff; border:1px solid transparent;}
  /*display:inline-block;width:12px;height:12px;margin-top:-2px;padding:0 3px 2px 3px;background:#990000;border:1px solid #8c8c8c;color:#fff;text-align:center;vertical-align:middle;*/
.bluesky.button, .bluesky.button:visited {color:#2c5987; font:bold 9px Verdana,Arial,sans; text-align:center;width:auto;text-transform:uppercase; float:left; background:#efefef url(http://cdn-psndealer.dx1app.com/dealersite/images/EC2_globalsprite-demo1-blue.png) 0pt -315px repeat-x; border:1px solid #cccccc;margin:10px 0 0 40px; padding:3px 8px 3px 8px;text-shadow: 0 0 0 rgba(0,0,0,0);box-shadow: 0 0 0 rgba(0,0,0,0); -moz-box-shadow: 0 0 0 rgba(0,0,0,0); -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);}
.bluesky.button:hover {color:#cc0000;}
#bigSearch {background: transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/hbhonda/EC2_banner.jpg) no-repeat 0pt 0; margin:0 0 0 -1px;width:954px;height:213px;display: block;position:relative;border-left:1px solid #222222;border-right:1px solid #222222;}
#bigSearch.curved {-moz-border-radius-bottomleft:15px; /* Firefox */-webkit-border-radius-bottomleft:15px; /* Safari and chrome */-khtml-border-radius-bottomleft:15px; /* Linux browsers */border-radius-bottomleft:15px; /* CSS3 */-moz-border-radius-bottomright:15px; /* Firefox */-webkit-border-radius-bottomright:15px; /* Safari and chrome */-khtml-border-radius-bottomright:15px; /* Linux browsers */border-radius-bottomright:15px; /* CSS3 */}
#bigSearch h1 {background: transparent;color:#fff;font:bold 24px Century Gothic,Tahoma,Geneva,sans-serif;margin:16px 0 0 0;text-shadow: 1px 1px 0 rgba(119,0,0,.75);}
#bigSearch label {color:#F99C37;font:bold 12px Tahoma,Geneva,sans-serif;margin: -10px 0 5px 5px;text-shadow: 1px 1px 0 rgba(119,0,0,.75);}
#bigSearch label a, #bigSearch label a:visited{color:#ffcc00;text-decoration: underline;}
#bigSearch label a:hover, #bigSearch label a:active{color:#fff;text-decoration: none;}
#bigSearch form {background: transparent;position:relative;width:548px;z-index:1;}
#bigSearch select {background: #fff;margin:0 0 0 5px;padding:5px;border: 1px solid #d3d3d3;width: 200px;height: 30px;box-shadow: 0 1px 3px rgba(0,0,0,0.6);-moz-border-radius: 5px;-webkit-border-radius: 5px;-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);border-bottom: 1px solid rgba(0,0,0,0.25);cursor: pointer;}
#bigSearch option{margin:5px 0 5px 5px;cursor: pointer;}
#bigSearch form .qsCatalogs {width: 200px;}
#bigSearch form .searchLeft {float:left;font-size:11px;font-weight: bold;margin:10px 20px 0 0;}
#bigSearch form .twoFortyFive{width:245px;margin-top:5px;}
#bigSearch form #acSearch{background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/EC2_search-box.png) no-repeat scroll 0 0; border: 0;padding: 0;border:0;font:bold 20px Century Gothic,Tahoma,Geneva,sans-serif;color: #a2a2a2;min-height:47px;height:47px;line-height:47px;text-indent:10px;width:307px;float:left;}
#bigSearch form #featSearch{background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/EC2_search-box.png) no-repeat scroll 0 0; border: 0;padding: 0;border:0;font:bold 20px Century Gothic,Tahoma,Geneva,sans-serif;color: #a2a2a2;min-height:47px;height:47px;line-height:47px;text-indent:10px;width:307px;float:left;}
#bigSearch form #submit{background:transparent url(http://cdn-psndealer.dx1app.com/dealersite/images/EC2_search-box.png) no-repeat scroll -397px 0;border:0;height:47px;width:148px;cursor:pointer;float:left;} 
#bigSearch form #submit2
{
background: -moz-linear-gradient(top, #be0402 , #960000);
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#be0402', EndColorStr='#960000', GradientType=0);
background: -webkit-gradient(linear, left top, left bottom, from(#be0402), to(#960000));
height: 46px;
width: 145px;
-moz-border-radius-topright:12px;
-moz-border-radius-bottomright:12px;
border-top-right-radius:7px;
border-bottom-right-radius:7px;
font-family: Tahoma,Geneva,sans-serif;
color: #fff;
font-size: 14pt;
font-weight: bold;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.99);
border-top-color: #EEEEEE;
border-bottom-color: #EEEEEE;
border-right-color: #EEEEEE;
margin-top: 1px;
}
.quickSearch{width:480px;float:left;height:auto;margin:0; padding:20px 0 0 0; border:0;}
.qkSrchTabs {list-style-type:none;margin:0;padding:0;width:100%;font-family:Tahoma,Geneva,sans-serif; border: 0;}
.qkSrchTabs li.tab1,.qkSrchTabs li.tab1selected {float:left;margin:0;padding:13px 0 0 0;height:48px; width: 240px;background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_icon-parts-48x48.png') no-repeat;border: 0;}
.qkSrchTabs li.tab2,.qkSrchTabs li.tab2selected {float:left;margin:0;padding:13px 0 0 0;height:48px; width: 240px;background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_icon-a+a-48x48.png') no-repeat;border: 0;}
.qkSrchTabs li.tab1selected{background: transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_qs-bkgd-hilite.png') repeat scroll;margin:0;padding:0;height:61px;display:block;-moz-border-radius-topleft:7px; -webkit-border-top-left-radius:7px; -moz-border-radius-topright:7px;-webkit-border-top-right-radius:7px;}
.qkSrchTabs li.tab2selected{background: transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_qs-bkgd-hilite.png') repeat scroll;margin:0;padding:0;height:61px;display:block;-moz-border-radius-topleft:7px;-webkit-border-top-left-radius:7px;-moz-border-radius-topright:7px;-webkit-border-top-right-radius:7px;} 
.qkSrchTabs li a, .qkSrchTabs li a:visited{margin:0; padding:3px 0 0 60px; height: 48px; display:block;font-weight:700;color:#fff;text-decoration:none;font-size:16px; line-height:17px;text-shadow: 1px 1px 0 rgba(119,0,0,.75);}
.qkSrchTabs li.tab1 a:hover,.qkSrchTabs li.tab2 a:hover{text-decoration:underline; color:#F99C37;}
.qkSrchTabs li.tab1 a:active,.qkSrchTabs li.tab2 a:active{text-decoration:none; color:#F99C37;} 
.qkSrchTabs li.tab1selected a {padding:16px 0 0 60px; height: 48px; display:block; color:#fff;text-shadow: 1px 1px 0 rgba(119,0,0,.75);background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_icon-parts-48x48.png') no-repeat 0 0;}
.qkSrchTabs li.tab2selected a {padding:16px 0 0 60px; height: 48px; display:block; color:#fff;text-shadow: 1px 1px 0 rgba(119,0,0,.75);background:transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_icon-a+a-48x48.png') no-repeat 0 0;}
.qkSrchBox{float:left;margin:0 auto;padding:10px 0 20px 10px;width:470px;height:102px;color:white;overflow:hidden;background: transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_qs-bkgd-hilite.png') repeat scroll;position: relative;border: 0;}
.qkSrchForm{height:;overflow:hidden;margin:0;padding:0;}
#qsBkgd {    background: transparent url('http://cdn-psndealer.dx1app.com/dealersite/images/EC2_qs-bkgd.png') repeat scroll;}
.searchBox {
border:1px #aaaaaa solid;
color: #000;
padding:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-transform:uppercase;
margin: 0;
}
.searchButton{
border:0;
padding: 4px 4px 4px 4px;
/* IE */
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#be0402', EndColorStr='#960000', GradientType=0);
background-image: -ms-linear-gradient(top, #be0402 0%, #960000 100%);
/* Mozila */
background: -moz-linear-gradient(top, #be0402, #960000);
/* Chrome, Safari: */
background: -webkit-gradient(linear, left top, left bottom, from(#be0402), to(#960000));
color: #fff;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
text-shadow: 1px 1px 0pt rgba(0, 0, 0, 0.7);
text-transform:uppercase;
margin: 0;
cursor: pointer;
}
@media(min-width:480px) {
.searchBox {
border-top-left-radius:7px;
-moz-border-radius-topleft:7px;
-webkit-border-radius-topleft:7px;
border-bottom-left-radius:7px;
-moz-border-radius-bottomleft:7px;
-webkit-border-radius-bottomleft:7px;
}
.searchButton{
border-top-right-radius:7px;
-moz-border-radius-topright:7px;
-webkit-border-radius-topright:7px;
border-bottom-right-radius:7px;
-moz-border-radius-bottomright:7px;
-webkit-border-radius-bottomright:7px;
}
}
#cart{
padding:5px;
color:#000;
}
#cart .cart_item{
clear:both;
border-bottom:1px #CCC solid;
padding-bottom: 20px;
margin-bottom:5px;
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
color:#000;
}
#cart .cart_item .cart_itemDescription{
width:120px;
float:left;
}
#cart .cart_item .cart_itemDescription a{
color:#000;
}
#cart .cart_item .cart_itemPrice{
color:#F00;
font-weight:bold;
float:right;
}
#cart .cart_item .cart_itemQuantity{
color: #666;
clear:both;
}
#cart .cart_item .cart_itemQuantity .quantity{
font-style:italic;
float:left;
}
#cart .cart_item .cart_itemQuantity .remove{
float:right;
}
#cart .cart_item .cart_itemQuantity .remove a{
color:#CCC ;
}
#cart .cart_priceTotal {
font-size:10px;
clear:both;
}
#cart .cart_priceTotal .priceTotal{
float: right;
color:#F00;
font-weight:bold;
}
#cart .cart_priceTotal .total{
font-weight:bold;
float:left;
}
#availabilty{color:#be0402; font-weight:bold;}